.read_more {
	right: 90px;
	cursor: pointer;
	position: absolute;
	float: right;
	bottom: 70px;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0px;
	border-radius: 4px;
	color: white; 
	font-weight: bold;
}

#menu .text {
	behavior: url(PIE.htc);
	cursor: pointer;
	border-radius: 4px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
}

.menu_content {
	-webkit-box-shadow: 0px 4px 12px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 4px 12px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 4px 12px rgba(50, 50, 50, 0.4);
}

.red_gradient {
	background: #fa494d; /* Old browsers */
	background: -moz-linear-gradient(top,  #fa494d 0%, #cc4340 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa494d), color-stop(100%,#cc4340)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fa494d 0%,#cc4340 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fa494d 0%,#cc4340 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fa494d 0%,#cc4340 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fa494d 0%,#cc4340 100%); /* W3C */
	-pie-background: linear-gradient(#fa494d, #cc4340);
	behavior: url(PIE.htc);
}

.product_items .product_item_shadow {
	-webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    2px 2px 6px rgba(50, 50, 50, 0.2);
	box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.2);
}


.index_footer {
	border-radius: 7px 7px 0px 0px;
	width: 100%; 
	height: 100%;
	opacity: 0.5;
	background: black;
	behavior: url(PIE.htc);
}


.image_container_1 {
	padding: 2px; 
	border: 2px solid #E7E7ED;
	border-radius: 4px;
}