.read_more {
	right: 90px;
	cursor: pointer;
	position: absolute;
	float: right;
	bottom: 70px;
	padding: 6px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0px;
	border-radius: 4px;
	color: white; 
	font-weight: bold;
}

#menu .text {
	behavior: url(PIE.htc);
	cursor: pointer;
	border-radius: 4px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	z-index: 2;
}

.red_gradient {
	-pie-background: linear-gradient(#fa494d, #cc4340);
	behavior: url(PIE.htc);
}

.menu_content {
	box-shadow: 0px 3px 7px rgb(130, 130, 130);
}

.product_items .product_item_shadow {
	box-shadow: 2px 2px 5px rgb(200, 200, 200);
	behavior: url(PIE.htc);
}

.index_footer {
	border-radius: 7px 7px 0px 0px;
	width: 100%; 
	height: 100%;
  	 -pie-background: rgba(0,0,0,0.5);
	background: black;
	behavior: url(PIE.htc);
}

.image_container_1 {
	padding: 2px; 
	border: 2px solid #E7E7ED;
	border-radius: 4px;
	behavior: url(PIE.htc);
	position:relative; 
	z-index: 0;
}