body {
	padding: 0px;
	margin: 0px auto;
	font-size: 12px;
	font-family: Geneva, Verdana, "Arial Unicode","Arial AMU", "Arian AMU",  Helvetica, sans-serif;
	/*	background:url('img/milk_2.jpg') center no-repeat ;*/
	background-color: #FEFDF8/* #00AEEF*/;
}

.slider_bubble {
	background: #BDB3AA;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	behavior: url(PIE.htc);
	cursor: pointer;
}

img { border: 0px; }

#slider_index {
	background: white;
	border-radius: 6px;
	behavior: url(PIE.htc);
	opacity: 0.8;
	margin-top: 20px;
	height: 32px;
	width: 0px;
}

.menu_content {
	color: #676767;
	visibility: hidden;
	position: absolute;
	padding: 6px;
	margin-top: -31px;
	border-radius: 8px;
	behavior: url(PIE.htc);
	background: white;
	z-index: 3;
}

.facebook_like {
	margin-top: 4px;
	margin-left: 50px;
	cursor: pointer;
	float: left;
}

#menu_div {
	height: 60px;
	width: 100%;
	background: url('../img/menu_bg.png');
	top: 30px;
	background-size: 1px 60px;
	margin: 0px auto; 
	min-width: 1000px;
}

#menu {
	float: left;
	margin-left: 110px;
	margin-top: 7px;

}

#menu .menu-arrow-container {
	padding-top: 5px;
}

#buy {
	padding: 4px;
	padding-left: 10px;
	padding-right: 10px;
	border: 0px;
	color: white; 
	font-weight: bold; 
	margin-top: 17px;
	float: right;
	cursor: pointer;
	border-radius: 4px;
	behavior: url(PIE.htc);
	position: relative;
	z-index: 2;
}


#menu .menu_item_parent {
	margin-top: -5px;
	margin-left: -4px;
}

#menu .products_parent {
	margin-top: -5px;
}

.products_parent a {
	color: #3A4D81;
}

#menu a {
	color: #595959;
	text-decoration: none;
}

.none {
	display: none;
}


.selected_menu {
	background: #F5F5F5;
}

.selected_menu .title {
	color: #3A4D81;
}


.menu_content .sub-item {
	border-radius: 5px;
	behavior: url(PIE.htc);
	padding: 10px;
	cursor: pointer;
}

.menu_content .sub-item-horizontal {
	width: 120px;
	height: 120px;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	float: left;
	margin-left: 5px;
	border: 1px solid #F7F7F7;
	behavior: url(PIE.htc);
	position: relative;
}

.sub-item .title {
	font-weight: bold;
	font-size: 13px;
}

.sub-item-horizontal .title {
	font-weight: bold;
	font-size: 13px;
	text-align: center;
}


.select_language {
	margin-top: 2px;
	margin-left: 2px;
	float: left;
}

.languages .img_item {
	float: right;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 3px;
	cursor: pointer;
}

.languages .selected_language {
	padding-right: 3px;
	padding-left: 3px;
	margin-left: 3px;
	margin-right: 3px;
	border-radius: 4px;
	behavior: url(PIE.htc);
	background: #F2F9FF;
	position: relative;
			
}

.selected_language_text {
	float: left;
	margin-top: 7px;
	margin-left: 5px;
}

.fleft {
	float: left;
}

#menu .menu_line {
	margin-right: 0px;
	width: 1px;
	height: 35px;
}

html {
	margin: 0; 
	padding: 0;
}

.paragraph_arm {
	margin: 0; 
	padding: 0;
	font-family: Geneva, Tahoma;
	font-size: 13px;
}

.paragraph_en {
	margin: 0; 
	padding: 0;
	font-family: Helvetica, Arail, Verdana;
	font-size: 13px;
}

.paragraph_ru {
	margin: 0; 
	padding: 0;
	font-family: Helvetica, Arail, Verdana;
	font-size: 13px;
}

#menu table, #menu tr, #menu td {
	margin: 0; 
	padding: 0;
}

body, html {
	height: 100%;
}

.container {
	float: right;
	margin-top: -1px;
	width: 100%;
	left: 0px;
}
#menu img {
	cursor: pointer
}

#menu .item {
	font-size: 13px;
	color: #1f4e71;
	font-weight: bold;
}

#logo {
	position: absolute;
	float: left;
	margin-top: 16px;
	width: 80px;
	cursor: pointer;
	z-index: 110;
}

.deliver {
	float: right;
	color: white;
	margin-right: 12px;
	margin-top: 8px;
}

.header_text {
	float: right;
	color: white;
	font-size: 10px;
	margin-right: 12px;
	margin-top: 9px;
	cursor: pointer;
}

.header_text:hover {
	text-decoration: underline;
}

.top_header {
	height: 30px;
	width: 100%;
	background: #075EAD;/*url('../img/top_bg.png');*/
	margin: 0px auto; 
	min-width: 1000px;
	position: relative;
	z-index: 2;
}

.top_header .header_content {
	float: right;
	margin-right: 20px;
}

#slider_tex_container {
	opacity: 0;
}

#slider_tex_container #slider_title {
	width: 92%;
	text-align: center;
	color: #075EAD;
	padding-top: 20px;
	font-size: 18pt;
	font-weight: bold;
	font-family: Belleza, arail, Helvetica, sans-serif;
}

#slider_tex_container #slider_text {
	width: 90%;
	margin-left: 5px;
	text-align: center;
	padding-top: 40px;
	max-height: 20px;
	color: #595959;
	font-size: 12pt;
	font-weight: bold;
	font-family: Geneva, Helvetica, sans-serif;
}

.slider_content {
	position: absolute;
	z-index: 2;
	left: 13.5%;
	top: 35%;
}

#slider_prev {
	float: left;
	margin-left: -30px;
	margin-top: 130px;
	cursor: pointer
}

#slider_next {
	float: right;
	margin-right: 0px;
	margin-top: 130px;
	cursor: pointer;
}

#slider_container {
	background: url('../img/slider_bg.png');
	width: 531px;
	height: 268px;
}

#footer {
	margin: 0px auto; 
	margin-top: 90px;
	width: 100%;
	height: 50px;
}

#footer .footer_bg {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	width: 100%;
	height: 100%;
}

#footer .copyright {
	color: #6F6F6F;
	margin-top: 7px;
	float: left;
	font-family: Arial
}

#footer .social {
	cursor: pointer;
	float: right;
	margin-right: 7px;
	top: -40px;
	width: 33px;
}

#arrow_top {
	width: 15px;
	display: none;
	position: absolute;
	z-index: 10;
}

.h10 {
	height: 10px;
}

.language_item .text {
	cursor: pointer;
	float: right;
	margin-right: 7px;
	margin-top: 2px;	
}

.page_content {
	width: 960px;
	margin: 0px auto;
	overflow: auto;
}

#page_content {
	margin: 0px auto; 
	width: 960px;
	padding-left: 10px;
	padding-right: 10px;
}


#page_content .page_title {
	clear: both;
	margin-right: 0px;
	margin-top: 25px;
	height: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #174D7D;
	float: left;
	font-family: Belleza;
}

#navigation_history {
	clear: both;
	color: #8A8975;
	font-size: 10px;
	margin-right: 0px;
	height: 20px;
	float: right;
	cursor: default
}

.page_content_start_line {
	float: left;
	width: 100%;
	margin-top: 5px;
	height: 5px;
	background: #075EAD;
}

.mtop30 {
	margin-top: 30px;
}

.mtop25 {
	margin-top: 25px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.content_font {
	font-size: 13px;
	color: #4E4E4E;
}

.bold {
	font-weight: bold;
}

.contact_us_container {
	border: 1px double #BEBEBE;
	font-size: 13px;
	border-radius: 4px;
	behavior: url(PIE.htc);
	padding: 10px;
	padding-left: 15px;
}


.index_social {
	cursor: pointer; 
	float: right; 
	margin-right: 8px; 
	top: -40px; 
	position: relative; 
	width: 33px;
}

.index_copyright {
	color: white; 
	top: -30px; 
	left: 15px; 
	position: relative;
}

.footer_container {
	right: 5%; 
	width: 90%; 
	height: 50px; 
	position: fixed; 
	bottom: 0px; 
	z-index: 2;
}

.section_title {
	font-size: 15px; 
	font-weight: bold;
	color: #595959;
	font-family: Helvetica, Arail, Verdana;
}

.section_title_ru {
	font-size: 15px; 
	font-weight: bold;
	color: #595959;
	font-family: Helvetica, Arail, Verdana;
}

.section_title_arm {
	font-size: 14px; 
	font-weight: bold;
	color: #595959;
	font-family: Geneva, Tahoma;
}

.faq_title {
	margin-left: 10px;
	position: relative; 
	bottom: 3px;
	color: #11395E;
}

.faq_answer {
	margin-left: 30px;
	margin-top: 8px
}

.faq_line {
	margin-left: 30px; 
	margin-top: 12px; 
	background: url('../img/dotline.png'); 
	background-repeat: repeat-x; 
	width: 871px; 
	height: 20px;
}

.faq_margin_top {
	margin-top: 12px
}

.page_top_menu .menu_title {
	font-size: 15px;

	color: #1A4F7E;
}

.page_top_menu .item {
	float: left;
	padding: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 5px;
	behavior: url(PIE.htc);
	margin-top: 5px;
	border: 1px double #D3D3D3;
	cursor: pointer;
	margin-top: 20px;
}

.page_top_menu .selected {
	background: #174D7D;
}

.itemleft {
	margin-left: 25px;
}

.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
	display: none !important;
}
.fb-like{
    height: 20px;
    overflow: hidden;
}


input[type="text"]{
    
    padding: 5px;   
 
 	 border: 1px solid #C0C0BA;

    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input[type="text"]:hover
{
    border:1px solid #cccccc;
}
input[type="text"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}

input[type="password"] {
    padding: 5px;  
    margin-top: 10px; 
    border: 1px solid #C0C0BA;

	font-family: "Liberation Serif Italic", "Times New Roman", Serif;
	font-style: italic;   
    
    /*Applying CSS3 gradient*/
    background: -moz-linear-gradient(center top , #FFFFFF,  #EEEEEE 1px, #FFFFFF 20px);    
    background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF), color-stop(5%, #EEEEEE) to(#FFFFFF));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB', endColorstr='#FFFFFF');
    
    /*Applying CSS 3radius*/   
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    /*Applying CSS3 box shadow*/
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
    box-shadow: 0 0 2px #DDDDDD;

}
input[type="password"]:hover
{
    border:1px solid #cccccc;
}
input[type="password"]:focus
{
    box-shadow:0 0 2px #FFFE00;
}

input#gobutton{
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	margin-top: 10px;
	margin-left: 45px;
	padding:5px 25px; /*add some padding to the inside of the button*/
	border:1px solid #33842a; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#f3f3f3;
	font-size:1.1em;
}
/***NOW STYLE THE BUTTON'S HOVER AND FOCUS STATES***/
input#gobutton:hover, input#gobutton:focus{
	background-color :#399630; /*make the background a little darker*/
	/*reduce the drop shadow size to give a pushed button effect*/
	-webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
	box-shadow: 0 0 1px rgba(0,0,0, .75);
}

.product_items .product_item_shadow {
	-webkit-box-shadow: 2px 2px 6px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    2px 2px 6px rgba(50, 50, 50, 0.2);
	box-shadow:         2px 2px 6px rgba(50, 50, 50, 0.2);
}

.auto-break {
	-moz-hyphens:auto;
	-ms-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
	word-wrap:break-word;
}

.career_item {
	margin-top: 2px;
	color: #2760D6;
	cursor: pointer;
}

.career_item:hover {
	text-decoration: underline;
}

#career_popup {
	width: 550px;
	height: auto;
	background: white;
	border-radius: 4px;
	behavior: url(PIE.htc);
	padding: 10px;
	padding-left: 15px;
	padding-bottom: 40px;
}

.new_career_popup {
	font-family: Arial, Helvetica, sans-serif;
}

.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #7A7A7A;
}

.pointer {
	cursor: pointer;
}

#slider_pause {
	margin-top: 20px;
	width: 48px;
}

#page_content a {
	color: #2760D6;
	text-decoration: none;
}

#page_content a:hover {
	text-decoration: underline;
}
