#products_popup {
	width: 750px;
	min-height: 550px;
	background: white;
	border-radius: 4px;
	behavior: url(PIE.htc);
	padding: 10px;
	padding-left: 15px;
}

#popup_content {
	
}

.close_popup {
	float: right; 
	width: 24px; 
	cursor: pointer;
	clear: none
}

#products_popup .product_title {
	margin-top: 5px;
	margin-left: 3px;
	float: left;
	font-size: 20px;
	font-weight: bold;
	font-family: "Arial AMU", "Arial Unicode", Sylfaen, sans-serif;
	color: #075EAD;
	
}



#products_popup .text1-arm {
	font-family: "Arial AMU", "Arial Unicode", Sylfaen, sans-serif;
	font-size: 13px;
	color: #7A7A7A;
}

.border_radius {
	border-radius: 5px;
	behavior: url(PIE.htc);
}

.product_popup .section {
	border-radius: 5px;
	behavior: url(PIE.htc);
	padding: 15px; 
	border: 1px double #DDDDDD;
	margin-top: 40px
}

.section .row {
	width: 100%; 
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif
}

.product_popup .sections {
	margin-top: 34px; 
	width: 350px; 
	float: right; 
	margin-right: -25px;
}

.section:first-child {
	margin-top: -4px;
}

.product_popup .description_div {
	width: 350px; 
	padding: 0px; 
	border: 1px double #DDDDDD; 
	margin-top: 30px; 
	font-size: 13px;
	padding: 15px;
}
