<div class="product_popup">
	<span id="product_title" class="product_title"></span><br>
	<div id="product_sections" class="text1 sections">
		<!--
		<div class="section"></div>
		<div class="section"></div>
		<div class="section"></div>-->
	</div>
	
	<div id="description_div" class="text1 border_radius description_div auto-break">
	</div>
	<div id="product_image_div" style="position: relative; height: 380px">
		<!--
		<img src="img/products/buttermilk_1.png" style="float:left; margin-left: 70px; width: 210px; 
		position: absolute; bottom: 0;">-->
	</div>
</div>