<div>
	<span class="admin_language" style="position: absolute; top: 30px; left: 180px" id="admin_language" >
		<span data-lang="arm" class="arm">Հայերեն</span>
		<span data-lang="en" class="en">English</span>
		<span data-lang="ru" class="ru">Русский</span>
	</span>
	
	<div id="new_faq_arm" style="display: none">
		<table style='margin-top: 70px'>
			<tr><td valign="top" style="width: 130px;"><span style="font-weight: bold; float: right">Question Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" class="new_faq_title">
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Question Answer<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea id="answer_arm" class="new_faq_text"></textarea>
			</td></tr>
		</table>
	</div>
	<div id="new_faq_en"  style="display: none">
		<table style='margin-top: 70px'>
			<tr><td valign="top" style="width: 130px;"><span style="font-weight: bold; float: right">Question Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" class="new_faq_title">
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Question Answer<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea id="answer_en" class="new_faq_text"></textarea>
			</td></tr>
		</table>
	</div>
	<div id="new_faq_ru"  style="display: none">
		<table style='margin-top: 70px'>
			<tr><td valign="top" style="width: 130px;"><span style="font-weight: bold; float: right">Question Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" class="new_faq_title">
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Question Answer<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea id="answer_ru" class="new_faq_text"></textarea>
			</td></tr>
		</table>
	</div>

	<div style="float: right; height: 40px; width: 100%;"></div>
	<span style="float: left"><span class="required">*</span> - Required Filds</span>
	<div style="position: absolute; bottom: 10px; right: 25px; width: 100%; margin-top: 30px">
		<button id="save_question" class="red_gradient save_button" style="float: right; margin-right: 25px;">Save</button>
	</div>
</div>