<div class="product_popup" id="add_product">
		
	<span class="admin_language" id="admin_language_product">
		<span data-lang="arm" class="arm">Հայերեն</span>
		<span data-lang="en" class="en">English</span>
		<span data-lang="ru" class="ru">Русский</span>
	</span>
	
	<div id="new_product_arm" style="display: none">
		<span><input type="text" data-type="product-title" value="Product Title" size="30" class="product_title"/></span>
		<br>
		<div class="text1 sections" style="margin-top: 30px">
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
		</div>
		<div class="text1 border_radius description_div">
			 <textarea class="new_product_description" 
			 style="width: 100%; padding: 2px">Description of product</textarea>
		</div>
	</div>
	<div id="new_product_en"  style="display: none">
		<span><input type="text" data-type="product-title" value="Product Title" size="30" class="product_title"/></span>
		<br>
		<div class="text1 sections" style="margin-top: 30px">
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
		</div>
		<div class="text1 border_radius description_div">
			 <textarea class="new_product_description" 
			 style="width: 100%; padding: 2px">Description of product</textarea>
		</div>
	</div>
	<div id="new_product_ru"  style="display: none">
		<span><input type="text" data-type="product-title" value="Product Title" size="30" class="product_title"/></span>
		<br>
		<div class="text1 sections" style="margin-top: 30px">
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				<input type="text" data-type="section-row" value="" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
		</div>
		<div class="text1 border_radius description_div">
			 <textarea class="new_product_description" 
			 style="width: 100%; padding: 2px">Description of product</textarea>
		</div>
	</div>
	
	<div style="float: right; height: 60px; width: 100%;"></div>
	<div style="position: absolute; bottom: 0px; width: 100%; margin-top: 40px">
		<div style="float: left; margin-left: 10px; margin-bottom: 20px; ">
			<div>Product Image</div>
			<form id="add_product_form" action='' method='post' enctype='multipart/form-data'>
				<input type='file' name='product_image' id="new_product_image" accept="image/*" style="margin-top: 4px"/>
				<input type='hidden' name="new_product_description" id="new_product_description"/>
				<input type='hidden' name="new_product_category" id="new_product_category"/>
				<input type='hidden' name="new_product_type" id="new_product_type"/>
			</form>
		</div>
		<button id="save_product" class="red_gradient save_button" style="float: right; margin-right: 25px; margin-top: 20px">Save</button>
	</div>
	
</div>