<div class="video_popup">
	<style>
		
	</style>
	<table style='margin-top: 20px'>
		<tr style='height: 15px'></tr>
		<tr><td valign="top" style="width: 110px;"><span style="font-weight: bold; float: right">Youtube url<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" size="60" class="new_video_url">
			</td>
		</tr>
		<tr style='height: 5px'></tr>
		<tr><td style="width: 110px;"><span style="font-weight: bold; float: right">Video Image <br>(405 X 227)<span class="required">*</span></span>
		</td>
		<td style="width: 20px"></td>
		<td valign="top">
		<form id="add_video_form" action='' method='post' enctype='multipart/form-data'>
			<input type="file" accept="image/*" name="video_img" class="video_img" style="width: 200px"/>
			<input type='hidden' name="videoData" id="new_video_data"/>
			<input type='hidden' name="page" id="new_video_page"/>
			<br>(Youtube image - http://img.youtube.com/vi/VIDEO_ID/0.jpg)
		</form>
		</td></tr>
		<tr style='height: 20px'></tr>
	</table>
	
	<span class="admin_language" style="position: absolute; top: 160px; left: 160px" id="admin_language_video" >
		<span data-lang="arm" class="arm">Հայերեն</span>
		<span data-lang="en" class="en">English</span>
		<span data-lang="ru" class="ru">Русский</span>
	</span>
	
	<div id="new_video_arm" style="display: none">
		<table style='margin-top: 40px'>
			<tr><td valign="top" style="width: 110px;"><span style="font-weight: bold; float: right">Video Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" class="new_video_title" style="width: 200px"/>
			</td></tr>
		</table>
	</div>
	<div id="new_video_en"  style="display: none">
		<table style='margin-top: 40px'>
			<tr><td valign="top" style="width: 110px;"><span style="font-weight: bold; float: right">Video Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" class="new_video_title" style="width: 200px"/>
			</td></tr>
		</table>
	</div>
	<div id="new_video_ru"  style="display: none">
		<table style='margin-top: 40px'>
			<tr><td valign="top" style="width: 110px;"><span style="font-weight: bold; float: right">Video Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" class="new_video_title" style="width: 200px"/>
			</td></tr>
		</table>
	</div>

	<div style="float: right; height: 60px; width: 100%;"></div>
	<span style="float: left"><span class="required">*</span> - Required Filds</span>
	<div style="position: absolute; bottom: 10px; width: 100%; margin-top: 40px">
		<button id="add_new_video" class="red_gradient save_button" style="float: right; margin-right: 25px;">Save</button>
	</div>
</div>