<div class="vacancy_popup">
		
	<span class="admin_language" style="position: absolute; top: 10px; right: 30px" id="admin_language" >
		<span data-lang="arm" class="arm">Հայերեն</span>
		<span data-lang="en" class="en">English</span>
		<span data-lang="ru" class="ru">Русский</span>
	</span>
	
	<div id="new_vacancy_arm" style="display: none">
		<table style='margin-top: 60px'>
			<tr><td style="width: 180px"><span style="font-weight: bold; float: right">Job Title <span class="required">*</span></span>
			</td>
			<td style="width: 20px"></td>
			<td valign="top"><input type="text" class="new_job_title" style="width: 200px"/></td></tr>
			<tr style='height: 30px'></tr>
			<tr><td valign="top"><span style="font-weight: bold; float: right">Job Responsibilities <span class="required">*</span></span></td>
			<td style="width: 20px"></td>	
			<td>
			 <textarea class="new_job_responsibilities"></textarea>
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Required Qualifications <span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea class="new_product_description"></textarea>
			</td></tr>
		</table>
	</div>
	<div id="new_vacancy_en"  style="display: none">
		<table style='margin-top: 60px'>
			<tr><td style="width: 180px"><span style="font-weight: bold; float: right">Job Title <span class="required">*</span></span>
			</td>
			<td style="width: 20px"></td>
			<td valign="top"><input type="text" class="new_job_title" style="width: 200px"/></td></tr>
			<tr style='height: 30px'></tr>
			<tr><td valign="top"><span style="font-weight: bold; float: right">Job Responsibilities <span class="required">*</span></span></td>
			<td style="width: 20px"></td>	
			<td>
			 <textarea class="new_job_responsibilities"></textarea>
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Required Qualifications <span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea class="new_product_description"></textarea>
			</td></tr>
		</table>
	</div>
	<div id="new_vacancy_ru"  style="display: none">
		<table style='margin-top: 60px'>
			<tr><td style="width: 180px"><span style="font-weight: bold; float: right">Job Title <span class="required">*</span></span>
			</td>
			<td style="width: 20px"></td>
			<td valign="top"><input type="text" class="new_job_title" style="width: 200px"/></td></tr>
			<tr style='height: 30px'></tr>
			<tr><td valign="top"><span style="font-weight: bold; float: right">Job Responsibilities <span class="required">*</span></span></td>
			<td style="width: 20px"></td>	
			<td>
			 <textarea class="new_job_responsibilities"></textarea>
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Required Qualifications <span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea class="new_product_description"></textarea>
			</td></tr>
		</table>
	</div>
	
	<div style="float: right; height: 60px; width: 100%;"></div>
	<span style="float: left"><span class="required">*</span> - Required Filds</span>
	<div style="position: absolute; bottom: 10px; width: 100%; margin-top: 40px">
		<button id="save_vacancy" class="red_gradient save_button" style="float: right; margin-right: 25px;">Save</button>
	</div>
</div>