<div class="slider_popup">

	<table style='margin-top: 20px'>
		<tr style='height: 15px'></tr>
		<tr><td valign="top" style="width: 120px;"><span style="font-weight: bold; float: right">Page Reference<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" value="{{data.href}}" size="60" class="new_slider_reference">
			</td>
		</tr>
		<tr style='height: 30px'></tr>
	</table>
	
	<span class="admin_language" style="position: absolute; top: 110px; left: 160px" id="admin_language" >
		<span data-lang="arm" class="arm">Հայերեն</span>
		<span data-lang="en" class="en">English</span>
		<span data-lang="ru" class="ru">Русский</span>
	</span>
	
	<div id="new_slider_arm" style="display: none">
		<table style='margin-top: 40px'>
			
			<tr><td valign="top" style="width: 120px;"><span style="font-weight: bold; float: right">Text Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" value="{{data.arm.title}}" class="new_slider_title">
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Slider Text<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea class="new_slider_text">{{data.arm.text}}</textarea>
			</td></tr>
		</table>
	</div>
	<div id="new_slider_en"  style="display: none">
		<table style='margin-top: 40px'>
			<tr><td valign="top" style="width: 120px;"><span style="font-weight: bold; float: right">Text Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" value="{{data.en.title}}" class="new_slider_title"/>
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Slider Text<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea class="new_slider_text">{{data.en.text}}</textarea>
			</td></tr>
		</table>
	</div>
	<div id="new_slider_ru"  style="display: none">
		<table style='margin-top: 40px'>
			<tr><td valign="top" style="width: 120px;"><span style="font-weight: bold; float: right">Text Title<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
				<input type="text" value="{{data.ru.title}}" class="new_slider_title"/>
			</td></tr>
			<tr style='height: 30px'></tr>
			<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Slider Text<span class="required">*</span></span></td>
			<td style="width: 20px"></td>
			<td>
			 <textarea class="new_slider_text">{{data.ru.text}}</textarea>
			</td></tr>
		</table>
	</div>

	<div style="float: right; height: 60px; width: 100%;"></div>
	<span style="float: left"><span class="required">*</span> - Required Filds</span>
	<div style="position: absolute; bottom: 10px; width: 100%; margin-top: 40px">
		<button id="edit_slider" class="red_gradient save_button" style="float: right; margin-right: 25px;">Save</button>
	</div>
</div>