<div class="product_popup" id="add_product">
		
	<span class="admin_language" id="admin_language_product">
		<span data-lang="arm" class="arm">Հայերեն</span>
		<span data-lang="en" class="en">English</span>
		<span data-lang="ru" class="ru">Русский</span>
	</span>
	
	<div id="new_product_arm" style="display: none">
		<span><input type="text" data-type="product-title" value="{{data.arm.title}}" size="30" class="product_title"/>
			</span>
		<br>
		<div class="text1 sections" style="margin-top: 30px">
			<div class="section">
				{{#data.arm.section0}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.arm.section0}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				{{#data.arm.section1}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.arm.section1}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				{{#data.arm.section2}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.arm.section2}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
		</div>
		<div class="text1 border_radius description_div">
			 <textarea class="new_product_description" 
			 style="width: 100%; padding: 2px">{{data.arm.description}}</textarea>
		</div>

		
	</div>
	<div id="new_product_ru" style="display: none">
		<span><input type="text" data-type="product-title" value="{{data.ru.title}}" size="30" class="product_title"/>
			</span>
		<br>
		<div class="text1 sections" style="margin-top: 30px">
			<div class="section">
				{{#data.ru.section0}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.ru.section0}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				{{#data.ru.section1}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.ru.section1}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				{{#data.ru.section2}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.ru.section2}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
		</div>
		<div class="text1 border_radius description_div">
			 <textarea class="new_product_description" 
			 style="width: 100%; padding: 2px">{{data.ru.description}}</textarea>
		</div>

		
	</div>
	<div id="new_product_en" style="display: none">
		<span><input type="text" data-type="product-title" value="{{data.en.title}}" size="30" class="product_title"/>
			</span>
		<br>
		<div class="text1 sections" style="margin-top: 30px">
			<div class="section">
				{{#data.en.section0}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.en.section0}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				{{#data.en.section1}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.en.section1}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
			
			<div class="section">
				{{#data.en.section2}}
				<input type="text" data-type="section-row" value="{{val}}" style="width: 285px;"/><img src='img/remove.png' class="remove_row_img">
				{{/data.en.section2}}
				<div class="add_row" style="overflow: auto"><img src='img/add.png' class="add_row_img"></div>
			</div>
		</div>
		<div class="text1 border_radius description_div">
			 <textarea class="new_product_description" 
			 style="width: 100%; padding: 2px">{{data.en.description}}</textarea>
		</div>
	</div>
	<div style="position: relative; height: 380px; max-width: 320px">
		<div style="float:left; position: absolute; bottom: 0; ">
			<img src='img/remove.png' id="delete_product_img" style="position: absolute; cursor: pointer"/>
			<img src="{{data.image}}" id="edit_img" style="max-width: 280px; max-height: 280px;">
		</div>
	</div>
	
	<div style="float: right; height: 60px; width: 100%;"></div>
	<div style="position: absolute; bottom: 10px; width: 100%; margin-top: 40px">
		<div style="float: left; margin-left: 10px;  clear: none">
			<form id="edit_product_form" action='' method='post' enctype='multipart/form-data'>
				<input type='hidden' name="edit_product_type" id="edit_product_type"/>
				<input type='hidden' name="edit_product_description" id="edit_product_description"/>
				<input type='hidden' name="edit_product_info" id="edit_product_info"/>
			</form>
		</div>
		<button id="save_product" class="red_gradient save_button" style="clear: none; float: right; margin-right: 25px;">Save</button>
	</div>
</div>