<div>

	<span class="page_title">{{lang.TopHeader.ADMIN}}</span>
	<span id="navigation_history"> <a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.TopHeader.ADMIN}} </span>
	<div class="page_content_start_line"></div>

	<div style="padding-top: 30px; float: left;">
		<div style="float: left; width: 450px; height: 420px;">

			<form id="loginForm" name="loginForm" method="post" action="login-exec.php">	
				<table width="700" border="0" align="center" cellpadding="2" cellspacing="0">
					<tr>
						<td width="112"><b>User id (Email-id)</b></td>
						<td width="188">
						<input name="user" type="text" id="login" />
						</td>
					</tr>
					<tr>
						<td><b style="margin-top: 10px">Password</b></td>
						<td>
						<input name="pass" type="password" id="password" />
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
						<input id="gobutton" class="red_gradient" type="submit" name="submit" value="Login" />
						</td>
					</tr>
				</table>
			</form>

		</div>
	</div>

	<div class="" style="width: 250px; float: right; margin-top: 62px;">
				<img src="img/careers/key.jpg" style="width: 100%" />
			</div>
	</body>
	</html>
</div>