<div>
	<span class="page_title">{{lang.Menu.Career.CAREER}}</span><span id="navigation_history"> <a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.Menu.Career.CAREER}} </span><div class="page_content_start_line"></div>
	<!-- top menu -->
	<div class="page_top_menu">
		<div class="selected item" style="border: 0px">
			<span class="menu_title" style="color: white"> {{lang.Menu.Career.VACANCIES}}</span>
		</div>
		<a href="#our_benefits">
		<div class="item itemleft">
			<span class="menu_title">{{lang.Menu.Career.OURBENEFITS}}</span>
		</div> </a>
	</div>
	<div class="mtop30" style="float: left; padding-bottom: 150px">
		<img src="img/careers/career.png" style="float: left;"/>
		<div style="float: left; width: 600px; margin-left: 60px">
			<div id="text_content" class="auto-break paragraph_en">
				In order to obtain any information regarding HR Management, you can apply to the HR Management Unit of Marila OOO, sending a message to e-mail address <a href="mailto:job@marila.am">job@marila.am</a>.
			</div>
			<div id='save_text_div'></div>
		</div>
		<div style="margin-left: 60px; float: left">
			<p class="section_title" style="margin-top: 30px;">
				Vacancies
			</p>
			<div id="careers" style="margin-top: 10px"></div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer" style="float: left; margin-top: 50px">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"></div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span><a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a><a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a><a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>