<div>
	<span class="page_title">{{lang.TopHeader.CONTACTUS}}</span><span id="navigation_history"> <a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.TopHeader.CONTACTUS}} </span><div class="page_content_start_line"></div>
	<div style="padding-top: 30px; float: left;">
		<div id="map_container" style="float: left;">
			<div id="map_canvas" style="width: 450px; height: 420px;"></div>
		</div>
		<div style="float: left; margin-left: 50px; width: 460px;">
			<div id="text_content" class="contact_us_container auto-break paragraph_ru">
				<b>Адрес:</b> Район Сюник, Капан, Гортсаранайин 16/3
				<br>
				<b>ИН налогоплательщика:</b> 09422036
				<br>
				<b>Телефон:</b> (+374285) 6.21.09 , (+37493) 92 99 77
				<br>
				<b>Факс:</b> (+374285) 2.07.37&nbsp;
				<div>
					<b>Директор:</b> Фрунзе Оганесян&nbsp;

				</div>
			</div>
			<div id='save_text_div'></div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer" style="float: left; margin-top: 90px">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"></div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span><a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a><a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a><a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>