<div id="new_career_popup" style="margin: 0px auto; width: 90%">
	
	<table style='margin-top: 40px'>
		<tr><td style="width: 180px"><span style="font-weight: bold; float: right">Job Title</span></td>
		<td style="width: 20px"></td>
		<td valign="top" class='text1' id='job_title'></td></tr>
		<tr style='height: 30px'></tr>
		<tr><td valign="top"><span style="font-weight: bold; float: right">Job Responsibilities</span></td>
			<td style="width: 20px"></td>	
			<td><div id='job_responsibilities' class='auto-break text1' style="width: 300px"></div></td>
		</tr>
		<tr style='height: 30px'></tr>
		<tr style='margin-top: 30px'><td valign="top"><span style="font-weight: bold; float: right">Required Qualifications</span></td>
			<td style="width: 20px"></td>
			<td id='job_qualifications' class='auto-break text1' style="width: 300px"></td>
		</tr>
	</table>
</div>