<div>
	<span class="page_title">{{lang.TopHeader.FAQ}}</span>
	<span id="navigation_history">
		<a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.TopHeader.FAQ}} </span>
	<div class="page_content_start_line"> </div>

	<div id="faq_div" class="mtop30 content_font" style="float: left; margin-left: 3px; padding-bottom: 40px; max-width: 900px">

	</div>
	
	<!-- footer -->
	<div id="footer" style="float: left; margin-top: 50px">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"> </div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span>
		<a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a>
		<a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a>
		<a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>