<div id="images_page">
	<span class="page_title">{{lang.Images.TITLE}}</span>
	<span id="navigation_history">
		<a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.Menu.Images.IMAGES}} 
	</span>
	<div class="page_content_start_line"> </div>
	
	<!-- top menu -->
	<div class="page_top_menu">
		<div class="selected item" style="border: 0px"><span class="menu_title" style="color: white">{{lang.Menu.Images.OURCOMPANY}}</span></div>
		<a href="#images_meetings">
			<div class="item itemleft"><span class="menu_title">{{lang.Menu.Images.MEETINGS}}</span></div>
		</a>
	</div>
	
	<div id="images_container" style="clear: both"> </div>
	<div id="a_ui" style="float: left; margin-top: 30px"></div>
	<!-- footer -->
	<div id="footer" style="float: left">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"> </div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span>
		<a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a>
		<a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a>
		<a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>