<div class="page_content">
<table id="menu">
	<tbody>
		<tr>
			{{#lang.Menu.Products}}
				<td id="menu_milk_products" class="item">
				<table class="products_parent">
					<tr>
						<td><img src="img/m_line.png" class="menu_line"/></td>
						<td>
						<a href="#products_milk?id=all" style="text-decoration: none">
							<table class="text" id="menu_milk_header" >
								<tr ><td>{{PRODUCTSMILK}}</td></tr>
								<tr>
									<td align="center" class="menu-arrow-container">
										<img class="menu-arrow" src="img/arrow.png"/>
									</td>
								</tr>
							</table>
						</a></td>
						<td><img src="img/m_line.png" class="menu_line"/></td>
					</tr>
				</table><!-- Menu Content -->
				<div id="menu_milk_products_content" class="menu_content">
					<a href="#products_milk?id=milk">
						<div class="sub-item-horizontal" style="margin-left: 0px">
							<div class="title">{{MILK}}</div>
							<div><img src="img/milk.png" style="width: 40px; margin-left: 40px; margin-top: 12px;"/></div>
						</div>
					</a>
					<a href="#products_milk?id=sour_cream">
						<div class="sub-item-horizontal">
							<div class="title">{{SOURCREAM}}</div>
							<div><img src="img/sourcream.png" style="width: 114px;  margin-top: 40px; margin-left: 3px;"/></div>
						</div>
					</a>
					<a href="#products_milk?id=curd">
					<div class="sub-item-horizontal">
						<div class="title">{{CURD}}</div>
						<div><img src="img/curd.png" style="width: 100px; margin-top: 31px; margin-left: 10px;"/></div>
					</div>
					</a>
					<a href="#products_milk?id=cheese">
						<div class="sub-item-horizontal" class="title">
							<div class="title">{{CHEESE}}</div>
							<div><img src="img/cheese.png" style="width: 100px; margin-top: 33px; margin-left: 10px;"/></div>
						</div>
					</a>
					<a href="#products_milk?id=yogurt">
						<div class="sub-item-horizontal" class="title">
							<div class="title">{{YOGURT}}</div>
							<div><img src="img/yogurt.png" style="width: 100px; margin-top: 37px; margin-left: 10px;"/></div>
						</div>
					</a>
					<a href="#products_milk?id=buttermilk">
						<div class="sub-item-horizontal" class="title">
							<div class="title">{{BUTTERMILK}}</div>
							<div><img src="img/buttermilk.png" style="width: 32px; margin-left: 43px; margin-top: 12px;"/></div>
						</div>
					</a>
				</div></td>
			{{/lang.Menu.Products}}
			{{#lang.Menu.ProductsMeat}}
				<td id="menu_meat_products" class="item">
				<table class="products_parent">
					<tr>
						<td>
						<a href="#products_meat?id=all" style="text-decoration: none">
						<table class="text" id="menu_meat_header" style="margin-left: -4px">
							<tr><td>{{PRODUCTSMEAT}}</td></tr>
							<tr>
								<td align="center" class="menu-arrow-container">
									<img class="menu-arrow" src="img/arrow.png"/>
								</td>
							</tr>
						</table>
						</a></td>
						<td><img src="img/m_line.png" class="menu_line"/></td>
					</tr>
				</table><!-- Menu Content -->
				<div id="menu_meat_products_content" class="menu_content">
					<a href="#products_meat?id=boiled">
						<div class="sub-item-horizontal" style="margin-left: 0px">
							<div class="title">{{BOILEDSAUSAGES}}</div>
							<div><img src="img/boiled.png"  style="width: 106px; margin-top: 20px; margin-left: 9px;"/></div>
						</div>
					</a>
					<a href="#products_meat?id=boiled_smoked">
						<div class="sub-item-horizontal">
							<div class="title">{{BOILEDSMOKEDSAUSAGES}}</div>
							<div><img src="img/boiledsmoked.png" style="width: 110px; margin-top: 30px; margin-left: 5px;"/></div>
						</div>
					</a>
					<a href="#products_meat?id=smoked">
					<div class="sub-item-horizontal">
						<div class="title">{{SMOKEDSAUSAGES}}</div>
						<div><img src="img/smoked.png" style="width: 110px; margin-top: 30px; margin-left: 5px;"/></div>
					</div>
					</a>
					<a href="#products_meat?id=semismoked">
						<div class="sub-item-horizontal" class="title">
							<div class="title">{{SEMISMOKEDSAUSAGES}}</div>
							<div><img src="img/semismoked.png" style="width: 106px; margin-top: 30px; margin-left: 7px;"/></div>
						</div>
					</a>
					<a href="#products_meat?id=sausages">
						<div class="sub-item-horizontal" class="title">
							<div class="title">{{SAUSAGES}}</div>
							<div><img src="img/sausages.png" style="width: 90px; margin-top: 20px; margin-left: 15px;"/></div>
						</div>
					</a>
					
				</div></td>
			{{/lang.Menu.ProductsMeat}}
			{{#lang.Menu.Aboutus}}
			<td id="menu_aboutus" class="item">
			<table class="menu_item_parent">
				<tr>
					<td>
					<a href="#history" style="text-decoration: none">	
					<table class="text" id="menu_aboutus_header">
						<tr>
							<td>{{ABOUTUS}}</td>
						</tr>
						<tr>
							<td align="center" class="menu-arrow-container">
								<img class="menu-arrow" src="img/arrow.png"/>
							</td>
						</tr>
					</table></a></td>
					<td><img src="img/m_line.png" class="menu_line"/></td>
				</tr>
			</table><!-- Menu Content -->
			<div id="menu_aboutus_content" class="menu_content">
				<a href="#history">
					<div class="sub-item">
						<div class="title" >
							{{COMPANYHISTORY}}
						</div>
					</div>
				</a>
				<a href="#achievements">
					<div class="sub-item">
						<div class="title" >
							{{ACHIEVEMENTS}}
						</div>
					</div>
				</a>
			</div></td>
			{{/lang.Menu.Aboutus}}
			{{#lang.Menu.Videos}}
			<td id="menu_videos" class="item">
			<table class="menu_item_parent">
				<tr>
					<td>
					<a href="#videos_products" style="text-decoration: none">
					<table class="text" id="menu_videos_header">
						<tr>
							<td>{{VIDEOS}}</td>
						</tr>
						<tr>
							<td align="center" class="menu-arrow-container">
								<img class="menu-arrow" src="img/arrow.png"/>
							</td>
						</tr>
					</table></a></td>
					<td><img src="img/m_line.png" class="menu_line"/></td>
				</tr>
			</table><!-- Menu Content -->
			<div id="menu_videos_content" class="menu_content">
				<a href="#videos_products">
					<div class="sub-item">
						<div class="title" >
							{{OURPRODUCTS}}
						</div>
					</div>
				</a>
				<a href="#videos_meetings">
					<div class="sub-item" class="title">
						<div class="title" >
							{{MEETINGS}}
						</div>
					</div>
				</a>
			</div></td>
			{{/lang.Menu.Videos}}
			
			{{#lang.Menu.Images}}
			<td id="menu_images" class="item">
			<table class="menu_item_parent">
				<tr>
					<td>
					<a href="#images_factory" style="text-decoration: none">
					<table class="text" id="menu_images_header">
						<tr>
							<td>{{IMAGES}}</td>
						</tr>
						<tr>
							<td align="center" class="menu-arrow-container">
								<img class="menu-arrow" src="img/arrow.png"/>
							</td>
						</tr>
					</table></a></td>
					<td><img src="img/m_line.png" class="menu_line"/></td>
				</tr>
			</table><!-- Menu Content -->
			<div id="menu_images_content" class="menu_content">
				<a href="#images_factory">
					<div class="sub-item">
						<div class="title" >
							{{OURCOMPANY}}
						</div>
					</div>
				</a>
				<a href="#images_meetings">
					<div class="sub-item">
						<div class="title">
							{{MEETINGS}}
						</div>
					</div>
				</a>
			</div></td>
			{{/lang.Menu.Images}}
			
			{{#lang.Menu.Career}}
			<td id="menu_careers" class="item">
			<table class="menu_item_parent">
				<tr>
					<td>
					<a href="#careers" style="text-decoration: none">
					<table class="text" id="menu_career_header">
						<tr>
							<td>{{CAREER}}</td>
						</tr>
						<tr>
							<td align="center" class="menu-arrow-container">
								<img class="menu-arrow" src="img/arrow.png"/>
							</td>
						</tr>
					</table></a></td>
					<td><img src="img/m_line.png" class="menu_line"/></td>
				</tr>
			</table><!-- Menu Content -->
			<div id="menu_careers_content" class="menu_content">
				<a href="#careers" style="text-decoration: none">
					<div class="sub-item">
						<div class="title">
							{{VACANCIES}}
						</div>
					</div>
				</a>
				<a href="#our_benefits" style="text-decoration: none">
					<div class="sub-item" class="title">
						<div class="title">
							{{OURBENEFITS}}
						</div>
					</div>
				</a>
			</div></td>
			{{/lang.Menu.Career}}
		</tr>
	</tbody>
</table>

<button id="buy" class="red_gradient">{{lang.Menu.WhereToBuy}} > </button>
<img src="img/arrow_top.png" id="arrow_top"/>
</div>