<div>
	<span class="page_title">{{lang.Menu.Career.CAREER}}</span><span id="navigation_history"> <a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.Menu.Career.OURBENEFITS}} </span><div class="page_content_start_line"></div>
	<!-- top menu -->
	<div class="page_top_menu">
		<a href="#careers">
		<div class="item">
			<span class="menu_title"> {{lang.Menu.Career.VACANCIES}}</span>
		</div></a>
		<div class="selected item itemleft" style="border: 0px" >
			<span class="menu_title" style="color: white">{{lang.Menu.Career.OURBENEFITS}}</span>
		</div>
	</div>
	<div class="mtop30" style="float: left; width: 960px; font-size: 13px">
		<div style="width: 420px; float: left;">
			<div id="text_content"  class="auto-break paragraph_arm">
				Text Area
			</div>
			<div id="a_ui"></div>
		</div>
		<div style="width: 500px; float: left; margin-left: 40px">
			<img style="width: 100%; padding-bottom: 20px" src="img/spage_images/3197751c84434ab9596.09042191.jpg"/><div id="img_form"></div>
		</div>
	</div>
	<!-- footer -->
	<div id="footer" style="float: left; margin-top: 50px">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"></div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span><a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a><a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a><a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>