<div id="product_info_page">
	<span class="page_title" style="color: #A42322">{{lang.Menu.ProductsMeat.PRODUCTSMEAT}}</span>
	<span id="navigation_history">
		<a href="." class="active" style="color: #A42322">Home</a> >> {{lang.Menu.ProductsMeat.PRODUCTSMEAT}}</span>
	<div class="page_content_start_line" style="background: #A42322"> </div>
	
	<!-- products menu -->
	<div class="products_menu mtop30">
		<div data-product-category="all" class="item meat_item"><span class="menu_title">{{lang.Common.ALL}}</span></div>
		<div data-product-category="boiled" class="item meat_item"><span class="menu_title">{{lang.Menu.ProductsMeat.BOILEDSAUSAGES}}</span></div>
		<div data-product-category="boiled_smoked"class="item meat_item"><span class="menu_title">{{lang.Menu.ProductsMeat.BOILEDSMOKEDSAUSAGES}}</span></div>
		<div data-product-category="smoked" class="item meat_item"><span class="menu_title">{{lang.Menu.ProductsMeat.SMOKEDSAUSAGES}}</span></div>
		<div data-product-category="semismoked"class="item meat_item"><span class="menu_title">{{lang.Menu.ProductsMeat.SEMISMOKEDSAUSAGES}}</span></div>
		<div data-product-category="sausages" class="item meat_item"><span class="menu_title">{{lang.Menu.ProductsMeat.SAUSAGES}}</span></div>
	</div>
	
	<div class="product_items" id="product_items">
	</div>
	<div id="a_ui" class="product_items" style="margin-top: 30px;">
	</div>
	<!-- footer -->
	<div id="footer" style="float: left">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"> </div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span>
		<a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a>
		<a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a>
		<a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>
