<div id="product_info_page">
	<span class="page_title">{{lang.Menu.Products.PRODUCTSMILK}}</span>
	<span id="navigation_history">
		<a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.Menu.Products.PRODUCTSMILK}} </span>
	<div class="page_content_start_line"> </div>
	
	<!-- products menu -->
	<div class="products_menu mtop30">
		<div data-product-category="all" class="item"><span class="menu_title">{{lang.Common.ALL}}</span></div>
		<div data-product-category="milk" class="item"><span class="menu_title">{{lang.Menu.Products.MILK}}</span></div>
		<div data-product-category="sour_cream"class="item"><span class="menu_title">{{lang.Menu.Products.SOURCREAM}}</span></div>
		<div data-product-category="curd" class="item"><span class="menu_title">{{lang.Menu.Products.CURD}}</span></div>
		<div data-product-category="cheese" class="item"><span class="menu_title">{{lang.Menu.Products.CHEESE}}</span></div>
		<div data-product-category="yogurt" class="item"><span class="menu_title">{{lang.Menu.Products.YOGURT}}</span></div>
		<div data-product-category="buttermilk" class="item"><span class="menu_title">{{lang.Menu.Products.BUTTERMILK}}</span></div>
		<div data-product-category="kefir" class="item"><span class="menu_title">{{lang.Menu.Products.KEFIR}}</span></div>
		<div data-product-category="yogurt2" class="item"><span class="menu_title">{{lang.Menu.Products.YOGURT2}}</span></div>
		<div data-product-category="rezhan" class="item"><span class="menu_title">{{lang.Menu.Products.REZHAN}}</span></div>

	</div>
	
	<div class="product_items" id="product_items">
	</div>
	<div id="a_ui" class="product_items" style="margin-top: 30px;">
	</div>
	<!-- footer -->
	<div id="footer" style="float: left">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"> </div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span>
		<a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a>
		<a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a>
		<a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>
