<div class="container" id="slider_img_container" style="min-height: 600px;">
	<div class="wt-rotator">
		<div class="screen">
			<noscript>
			</noscript>
		</div>
		<div class="c-panel">
			<div class="thumbnails">
				<ul id="slider_images_list">
					{{#data.items}}
						<li><a href="{{src}}"><img src="{{src}}"/></a></li>
					{{/data.items}}
				</ul>
			</div>
			<div class="buttons" >
				<div class="prev-btn" id="prev-btn"></div>
				<div class="play-btn pause" id="pause_slider" style="width: 24px; height: 24px; margin-right: 5px;"></div>
				<div class="next-btn" id="next-btn"></div>
			</div>
		</div>
	</div>
</div>
<!-- End slider -->
<div id="slider_a_ui">
	
</div>
<div id="slider_content">
	
</div>


<div class="footer_container">
	<div class="index_footer"> </div>
	<span class="index_copyright">Copyright &copy 2013 Marila</span>
	<a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="index_social" /></a>
	<a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="index_social"/></a>
	<a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="index_social"/></a>
</div>
