<!-- slider content -->
<div class="slider_content">
	<img src="img/arrow-l.png"/ id="slider_prev">
	<img src="img/arrow-r.png"/ id="slider_next">
	
	<div id="slider_container">
		<div id="slider_tex_container">
			<div id="slider_title" class="auto-break"></div>
	
			<div id="slider_text" class="auto-break"></div>
		</div>
		<button class="read_more red_gradient" id="read_more">{{lang.Common.READMORE}}</button>
	</div>

	<div id="slider_index">
	</div>
</div>
<!-- end slider content -->
