<div class="header_content">
	<span class="languages">
		<img src="img/flags/Russian.png"/ id="language_ru" class="img_item first"> 
		<img src="img/flags/UK.png"/ id="language_en" class="img_item"> 
		<img src="img/flags/Armenia.png"/ id="language_arm" class="img_item"> 
	</span>
	{{#lang.TopHeader}}
		<span class="deliver">|</span>
		<a href="#faq"><span class="header_text">{{FAQ}}</span></a>
		<span class="deliver">|</span>
		<a href="#contactus"><span class="header_text">{{CONTACTUS}}</span></a>
	{{/lang.TopHeader}}
	
	<div id="logout_div" style="float: right"></div>
	
	
</div>