<div>
	<link rel="stylesheet" type="text/css" href="touchcarousel/touchcarousel.css" />
	<!-- Skin Stylesheet -->
	<link rel="stylesheet" type="text/css" href="touchcarousel/grey-blue-skin/grey-blue-skin.css" />
	
	<!-- JS files -->
	<script type="text/javascript" src="touchcarousel/jquery.touchcarousel-1.2.min.js"></script>
	<script type="text/javascript" src="js/libs/reflection.js"></script>

	<style>
		#videos_carousel {
			width: 100%;
			height: 400px;
		}

		.video_top {
			width: 403px;
			height: 30px;
			border: 1px solid #D4D4D4;
			border-bottom: 0px;
			background: #EBEBEB;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
			color: #4A699B;
			font-size: 16px;
			font-family: Geneva;
			font-weight: bold;
		}
		
		.video_top span {
			left: 15px;
			top: 5px;
			position: relative;
		}
		
		#videos_carousel a:hover {
			text-decoration: none;
		}
	</style>
	<span class="page_title">{{lang.Videos.TITLE}}</span>
	<span id="navigation_history">
		<a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.Menu.Videos.VIDEOS}} 
	</span>
	<div class="page_content_start_line"></div>
	
	<!-- top menu -->
	<div class="page_top_menu">
		<a href="#videos_products"><div class="item"><span class="menu_title">{{lang.Menu.Videos.OURPRODUCTS}}</span></div>
		</a>
		<a href="#videos_meetings"><div class="selected item itemleft" style="border: 0px">
			<span class="menu_title" style="color: white">{{lang.Menu.Videos.MEETINGS}}</span></div>
		</a>
		
		<div id="a_ui" style="float: right"></div>
	</div>
	
	<div class="mtop25" style="float: left; width: 100%; padding-bottom: 100px">
	
		<div id="videos_carousel" class="touchcarousel grey-blue" style="margin-top: -20px;">     
			<ul class="touchcarousel-container">
			
			</ul>
		</div>
		
	</div>
	<!-- footer -->
	<div id="footer" style="float: left; margin-top: 50px">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"> </div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span>
		<a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a>
		<a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a>
		<a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>