<div>
	<span class="page_title">{{lang.WhereToBuy.OUR_MARKETS}}</span><span id="navigation_history"> <a href="." class="active">{{lang.Common.HOME}}</a> >> {{lang.Menu.WhereToBuy}} </span><div class="page_content_start_line"></div>
	<div id="map_container" style="float: left;">
		<div id="map_canvas" class="mtop30" style="width: 450px; height: 420px;"></div>
	</div>
	<div class="mtop30 content_font" style="float: left; margin-left: 50px; width: 460px">
		<div id="text_content" class="auto-break paragraph_arm">
			Թարմ և որակյալ տեսականին կարող եք ձեռք բերել &lt;&lt;Սյունիքի Բարիքներ&gt;&gt; խանութների ցանցից հետևյալ հասցեներով`
			<br>
			<b>
			<br>
			Երևան, Չարենցի 1բ
			<br>
			Երևան, Կոմիտաս 38</b>
			<br>
		</div>
		<div id='save_text_div'></div>
	</div>
	<!-- footer -->
	<div id="footer" style="float: left; margin-top: 90px">
		<div style="height:1px; background: #9A9A9A; margin-bottom: 8px"></div>
		<span class="copyright">&copy 2013 Marila. All Rights Reserved.</span><a href="https://www.facebook.com/MarilaLLC" target="_blank"><img src="img/facebook.png" class="social" style="margin-right: -2px"/></a><a href="http://www.youtube.com/user/MarilaProducts" target="_blank"><img src="img/youtube.png" class="social"/></a><a href="https://plus.google.com/u/0/b/113369715398618141808/113369715398618141808/posts" target="_blank"><img src="img/google.png" class="social"/></a>
	</div>
</div>